@font-face {
    font-family: "HachiMaruPop";
    src: local("HachiMaruPop"), local("HachiMaruPop"), url("../fonts/HachiMaruPop-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}
