.color-red {
    background-color: rgb(230, 57, 70);
    border: 2px solid rgb(191, 48, 59);
}

.color-pink {
    background-color: rgb(157, 78, 221);
    border: 2px solid rgb(115, 44, 176);
}

.color-pistachio {
    background-color: rgb(155, 197, 61);
    border: 2px solid rgb(109, 138, 40);
}

.color-indigo {
    background-color: rgb(61, 52, 139);
    border: 2px solid rgb(42, 39, 104);
}

.color-yellow {
    background-color: rgb(255, 186, 8);
    border: 2px solid rgb(217, 155, 7);
}

.color-green {
    background-color: rgb(19, 111, 99);
    border: 2px solid rgb(15, 82, 74);
}