[data-color-item="1"] {
    background-color: rgb(230, 57, 70);
    border: 2px solid rgb(191, 48, 59);
}

[data-color-item="2"] {
    background-color: rgb(157, 78, 221);
    border: 2px solid rgb(115, 44, 176);
}

[data-color-item="3"] {
    background-color: rgb(155, 197, 61);
    border: 2px solid rgb(109, 138, 40);
}

[data-color-item="4"] {
    background-color: rgb(61, 52, 139);
    border: 2px solid rgb(42, 39, 104);
}

[data-color-item="5"] {
    background-color: rgb(255, 186, 8);
    border: 2px solid rgb(217, 155, 7);
}
